.feature-blocks {
	.col-sm-6,.col-sm-12 {
		.featuredItem {
			@include respondto(xs) {
				margin-bottom: $grid-gutter-width;
			}
		}	
		.col-xs-6 {
			margin-bottom: $grid-gutter-width;
		}
	}
	
	.col-sm-12 {
		.col-xs-3 {
			margin-bottom: $grid-gutter-width;
		}
	}
}

.fblockcontainer {

}


	.cuadro_intro_hover{
		padding: 0px;
		position: relative;
		overflow: hidden;
		background-color:transparent;
		@include border-radius(5px);
		@include transition(all, 0.5s, ease-in-out);


		img {
			@include transition(all, 0.5s, ease-in-out);
			z-index: 4;
		}
		p.thumbnail_holder {
			text-align:center;
			margin-top:0px;
			margin-bottom:0px;
		}
		.caption{
			position: absolute;
			bottom:6px;
			width: 101%;
			background-color: $link-color;
			@include transition(all, 0.5s, ease-in-out);
			@include border-radius(5px);
		}
		.blur{
			height: auto;
			z-index: 5;
			position: absolute;
			width: 100%;
			height: 125px;
			text-overflow: ellipsis;
			
		}
		.caption-text{
			z-index: 10;
			color: #fff;
			position: absolute;
			height: 130px;
			text-align: left;
			top:-20px;
			width: 100% !important;
			padding: 5px;
			background-color: $link-color;
			@include opacity(0.8);
			text-overflow: ellipsis;

			h3 {
				font-family: "RadFest", Helvetica;
				font-size:1.2em;
				text-transform: uppercase;
				line-height: auto;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				padding:0px;
				width: 100%;
				margin:0px;
			}
			p {
				text-overflow: ellipsis;
			}
		}
	}
	.cuadro_intro_hover:hover .caption {
		@include opacity(1);
		@include transform(translateY(-98px));
	//	@include border-radius(10px);
		h3 {
			overflow: visible;
			word-wrap: normal;
			white-space: normal
		}
	}
	.cuadro_intro_hover:hover {
//		@include transform(scale(1.1,1.1));
	}
	.cuadro_intro_hover:hover img {
		@include transform(scale(1.3,1.3));
	}