	$sraassoc: #70d630;
	$black: #000000;
	$sraawards: #612f85;
	$srachart: #23a3e0;
	$sraconf: #e45e09;
	$sralove: #f20000;

$featured: $sraassoc;

// ************************************

// Social Media / Social Web 

	$facebook: #3B5998;
	$pinterest: #CB2027;
	$googleplus: #F90101;
	$twitter: #4099FF;

// *************************************

