@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "../font-awesome-4.2.0/scss/font-awesome";
@import "variables";
@import "css3mixins";
@import "custommixins";
@import "_mixins";


/* My Minimal WordPress Styling comes here */

$background: #512689;
$white: #f1f1f1;
$grey: #f9f9f9;
$btn-radfest-bg: #512689;
$btn-radfest-border: #8168aa;
$btn-radfest-color:#ffffff;
$link-color: #e35f1c;
$link-color-hover: darken($link-color, 15%);
$radfest-pink-trans: #b92b7a;
$radfest-pink: #d11b6c;
$radfest-blue: #1e61aB;
$radfest-pale-purple: #8168aa;
$radfest-orange: #318a97;
$radfest-shadow-purple: #461d7c;

@font-face {
    font-family: 'RadFest';
    src: url('../../fonts/FFF-Tusj-fontfacekit/FFF_Tusj-webfont.eot');
    src: url('../../fonts/FFF-Tusj-fontfacekit/FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/FFF-Tusj-fontfacekit/FFF_Tusj-webfont.woff') format('woff'),
         url('../../fonts/FFF-Tusj-fontfacekit/FFF_Tusj-webfont.ttf') format('truetype'),
         url('../../fonts/FFF-Tusj-fontfacekit/FFF_Tusj-webfont.svg#fff_tusjbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
.well.well-radfest {
	background: $radfest-pink;
	border: none;
	a:hover {
		color: #000;
	}
	blockquote {
		text-align: left;
	}
	@include respondto(md,lg) {
		//font-size:1.2em;
		
		p {
			margin-bottom:20px;
		}
		
	}
}
.RadFestFont {
	font-family: "RadFest", Helvetica, Arial;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* This is a small security for too long strings titles */
html, body {
	overflow-x: hidden;
}
/*html {
	background: $background url('../../images/background.png');
	background-position: center center;
}*/
body {
	font-family: 'Varela Round', sans-serif;
	word-wrap: break-word;
	background: $background;
	background-image: url('../../images/flare-footer.png');
	background-position: bottom left;
	background-repeat: no-repeat;
	color:$white;
	padding-bottom:400px;
	letter-spacing: 1.1px;

}
h4,.h4 {
	font-weight: bold;
	@extend .RadFestFont;
	letter-spacing: 4px;
}
#content>article {
	margin: 0px !important;
	padding: 0px !important;
}
article p {
	margin-bottom: 20px !important;
}
article.hentry {
	header {
		.entry-meta {
			margin-bottom: 10px;
		}
	}
}
.quote {
	font-family: 'Indie Flower', cursive;
	font-size:1.1em;
	font-weight: bold;
}
p.tweet {
	@extend .quote;
}
.site-header {
	background:url('../../images/flare-header.png') no-repeat top right;
	padding-top:20px;
}
footer.entry-meta .the_tags {
	a {
		text-decoration: none;
	}
	a.orange:hover {
		background: $link-color-hover;
	}
}
#sflare-top {
	background:url('../../images/flare-header.png') fixed no-repeat top right;
	position: fixed;
	top:0;
	right:0;
/*	z-index: 9;*/
	height: 316px;
	width:500px
}
#sflare-footer {
	background: url('../../images/flare-footer.png') fixed no-repeat bottom left;
	position: absolute;
/*	bottom: 0;
	left: 0;
*/	width: 100%;
	height: 442px;
	z-index: 9 !important;
}
.site-footer {
	/*background: url('../../images/flare-footer.png') no-repeat top right;
	color: #fff;
	padding-top:400px;
	padding-bottom: 500px;*/
	#footer-nav.nav-stacked li {
	}
	#footer-nav.nav-stacked li a {
		padding-top:10px;
		padding-bottom:10px;
		margin-bottom:5px;
		@include border-radius(10px);
	}
	#footer-nav.nav-stacked li a:hover,
	#footer-nav.nav-stacked li.current-menu-item a {
		background: $radfest-pink-trans;
		text-decoration: none;
	}
}

a {
	color:#fff;
	text-decoration: underline;
}
a:hover {
	color: $link-color;
}

.entry-content {
	a {
		color:$link-color;
		text-decoration: none;
	}
	a:hover {
		color:#fff;
		text-decoration: none;
	}
}

.winegum {
	padding:10px;
	@include border-radius(10px);
	background-color: #fff;
	color: #000;
}
.winegum.orange {
	background-color: $link-color;
	color:#fff;
	a:hover {
		color:$radfest-shadow-purple;
	}
}
.winegum.pink {
	background-color: $radfest-pink;
	color: #fff;
}
.winegum.blue {
	background-color: $radfest-shadow-purple;
	color:#fff;
}
a h3.widget-title.text-center.winegum.pink {
	text-decoration: none;
	@extend .oblink;
}
a:hover h3.widget-title.text-center.winegum.pink {
	text-decoration: none;
}
.no-underline {
	text-decoration: none;
}
#twitterTickerContainer {
	#emapTweet {
		width: 100%;
		height: 100px;
		overflow: hidden;
		li {
			height: 100px;
			vertical-align: middle;

			p.interact {
				display: block;
				float: right;
			}
			div.user {
				float:right;
				margin-right:0px;
				display: block;
				width: 10%;
			}
			div.user img {
				float: left;
				display: block;
			}
			p.tweet {
				width:80%;
				float: left;
				display: inline-block;
			}
			div.user > a > span {
				display: none;
			}
			a:hover {
				color: $radfest-pink;
			}
		}
	}
}

.social-links-container {
	padding-top:15px;
	a {
		text-decoration: none;
	}
	.btn-outline {
	    margin-top: 15px;
	    border: solid 2px #fff;
	    font-size: 20px;
	    color: #fff;
	    background: 0 0;
	    transition: all .3s ease-in-out;
	    padding:10px;
   	    @include border-radius(10px);
	}
	
	.btn-outline:hover,
	.btn-outline:focus,
	.btn-outline:active,
	.btn-outline.active {
	    border: solid 2px #fff;
	    color: $btn-radfest-bg;
	    background: #fff;
	}.btn-social {
	    display: inline-block;
	   // width: 50px;
	    height: 50px;
	    border: 2px solid #fff;
	    border-radius: 100%;
	    text-align: center;
	    font-size: 20px;
	    line-height: 45px;
	    
	}
	
	.btn:focus,
	.btn:active,
	.btn.active {
	    outline: 0;
	}
}
article.type-programmes .page-header,
article.post-type-archive-presenters .page-header {
	border: none !important;
}
article .page-header>h3>a {
	text-decoration: none;
	line-height: 1.3em;
}
article.type-programmes {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

#nowbox {
	margin-bottom: 10px;
}
#newsTicker, #twitterTickerContainer {
//	background-color: $link-color;
	color:#fff;
	padding:10px;
	width: 100%;
	display: block;
	margin-bottom:10px;
	div {
		display: inline-block;
	}
	ul {
		height: 80px;
		overflow: hidden;
		margin: 0px;
		padding: 0px;
		li {
			z-index: 9999;
			margin: 0px;
			padding: 0px;
			padding-right:0px;
			.twitter i.fa.fa-twitter {
				color: $twitter;
			}
			.facebook i.fa.fa-facebook {
				color: $facebook;
			}
			.fa {
				color: $link-color-hover;
			}
		}
	}
}

div.dablock {
	display: block;
	background: $grey;
	overflow-x: hidden;
	
	span.whatshere {
		padding:20px;
		display:block;
		text-align: center;
		text-transform: uppercase;
		color:$background;
	}
	iframe.iplayer {
		overflow-x: none;
	}
}


#footer-nav.nav-stacked {
	li {
		
		a {
			padding:2.5px 15px;
			text-decoration: none;
		}
		a:hover {
			background: transparent;
			text-decoration: underline;
			color:$white;
		}
	}
}
/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
.entry-content {
	.wp-post-image {
		margin:5px;
	}	
}

header .entry-meta,
footer.entry-meta {
	background: $radfest-pale-purple;
	padding:5px;
	@include border-radius(5px);
	font-size: 0.8em;
}
footer.entry-meta {
	background: transparent;
	margin-bottom: 10px;
}

#logo {
	margin-top:20px;
	@include transition(all, 0.5s, ease-in-out);

}

#logo:hover {
		@include transform(scale(1.3,1.3));
}
@keyframes ofade {
    from { 
    	@include opacity(1.0);
	}
    50% { 
    	@include opacity(0.4);
     }
    to { 
    	@include opacity(1.0);
	}
}
 
@-webkit-keyframes ofade {
    from { 
    	@include opacity(1.0);
	}
    50% { 
    	@include opacity(0.4);
     }
    to { 
    	@include opacity(1.0);
	}
}
@keyframes fade {
    from { 
    	//opacity: 1.0;
		@include transform(scale(1,1));
	}
    50% { 
    	//opacity: 0.4;
		@include transform(scale(1.1,1.1));
     }
    to { 
    	//opacity: 1.0;
		@include transform(scale(1,1)); 
	}
}
 
@-webkit-keyframes fade {
    from { 
    	//opacity: 1.0;
		@include transform(scale(1,1));
	}
    50% { 
    	//opacity: 0.4;
		@include transform(scale(1.1,1.1));
     }
    to { 
    	//opacity: 1.0;
		@include transform(scale(1,1)); 
	}
}
@keyframes pulse {
    from { 
    	//opacity: 1.0;
		@include transform(scale(1,1));
	}
    50% { 
    	//opacity: 0.4;
		@include transform(scale(0.9,0.9));
     }
    to { 
    	//opacity: 1.0;
		@include transform(scale(1,1)); 
	}
}
 
@-webkit-keyframes pulse {
    from { 
    	//opacity: 1.0;
		@include transform(scale(1,1));
	}
    50% { 
    	//opacity: 0.4;
		@include transform(scale(0.9,0.9));
     }
    to { 
    	//opacity: 1.0;
		@include transform(scale(1,1)); 
	}
}

.oblink {
    animation:ofade 2000ms infinite;
    -webkit-animation:ofade 2000ms infinite;
}
.blink {
    animation:fade 2000ms infinite;
    -webkit-animation:fade 2000ms infinite;
}

.pulse {
	animation: pulse 3000ms infinite;
	-webkit-animation: pulse 3000ms infinite;
}

#start-button {
	display: none;
	position: relative;
	@include transition(all, 0.5s, ease-in-out);
	text-decoration: none;
}
#start-button.show-button {
	@extend .blink;
	position:relative;
		@include transition(all, 0.5s, ease-in-out);

	top:-150px;
	@include transform(translateY(-98px));
}

#logo_container_lg img {
	@extend .pulse;
	@include transition(all, 0.5s, ease-in-out);
}

/**** COMMENTS ****/
#comments {
	header {
		.comments-title {
			@extend .RadFestFont;
			letter-spacing: 5px;
		}
	}	
}
.photo-container {
	margin-bottom:10px;
}
.post-type-archive-presenters .feature-blocks {
	.fblockcontainer {
		margin-bottom: $grid-gutter-width;

	}	
}



article header.page-header h3.page-title {
	margin-top: 0px;
}

nav.post-navigation {
	.pager li>a,
	.pager li>span {
		background-color: $radfest-pink;
		text-decoration: none;
		margin-bottom: 5px;
	}
	.pager li:hover>a,
	.pager li:hover>span {
		background-color: $radfest-pale-purple;
		color:#fff;
		text-decoration: none;
	}
}

/* Images and wp-captions should always fit and be responsive */
img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
img[class*="wp-image-"] {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 10px;
}
.wp-caption.aligncenter {
	margin-bottom: 10px;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
}
.wp-caption .wp-caption-text {
	text-align: center;
	margin-top: 10px;
}

/* WP Gallery */
.gallery {
	margin-bottom: 1.5em;
}
.gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.gallery dd {
	margin: 0;
}


/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


/* Content */
.main-content-inner {
	padding-bottom: 1.5em;
}
.hentry {
	margin: 0 0 1.5em;
}


/* Clearing */
.clear {
	clear: both;
}
.menu-icon-container {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    border: 4px solid #fff;
    border-radius: 100%;
    margin: auto;
    display: block;
/*    margin-top:20px;*/
	margin-top:50%;
	i {
		display: block;
		margin: auto;
		margin-top:8px;

	}
	a {
		text-decoration: none;
		cursor: hand;
	}
	a:hover {
		text-decoration: none;
		cursor: hand;
	}
}

/* Here some needed widget styles
 * Most widgets are adapted in the file bootstrap-wp.js - and REALLY easy to modify! ;) */
.widget { margin-bottom: 2em; }
.widget_nav_menu ul.sub-menu li, .widget_pages ul.children li { padding-left: 15px; }

/* Hiding the search widget's button in widgets. thats just too old-skool. :) but if you want it back, just delete the next line.
 * Note: you can change the whole appearance of the search_form() function in our searchform.php */
.widget_search .search-form input[type="submit"] { display: none; }

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Nested comments? They are threaded and nested already, you just need to add your own styling to finalize!
 * For example with some margin, like the line below ;) Delete, modify, change classes in HTML if you desire another style */
 .comment .children { margin-left: 1.5em; }


.page-title,
.widget-title {
	@extend .RadFestFont;
	letter-spacing: 5px;
}



/**  
 * Global Navigation */
nav.global-navigation {
	.navbar-inverse .navbar-collapse {
		border-color: #ffffff;
	}
	.navbar-inverse {
		margin-bottom: 0px;
		background: url('../../images/RadAcadHeaderBG.png') no-repeat right;
		background-color: #512689;
		border-color: #f5f5f5;
		border-bottom-width: 3px;
		@include breakpoint(xs) {
			/* Styles  */
			background-image: none;
		}
		
		.navbar-toggle {
			border: none;
			.icon-bar {
				background: #f1f1f1;
			}
		}
		.navbar-toggle:hover,
		.navbar-toggle:focus {
			background: none;
		}
		
		.navbar-nav {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-style: normal;
			font-variant: normal;
			font-weight: bold;
			line-height: 26px;
			
			a {
				text-decoration: none;
				font-weight: bold;
				color:#fff;
			}
			
			.active > a,
			.active > a:hover,
			.active > a:focus,
			a:hover {
				background: $background;
			}
		}
	}

	.navbar-right {
		padding-right:50px;
	}
	
}
nav.site-navigation {
	$menu-active: #e35f1c;
	$menu-hover: #318a97;
	$menu-normal: #d11b6c;
	font-family: "RadFest", Helvetica, cursive;
	font-weight: normal;
	letter-spacing: 1px;

	.navbar-default {
		background-color: transparent;
		border: none;
		margin-bottom: 0px;
		
		.navbar-toggle {
			@include border-radius(10px);
			border:none;
			background-color: $menu-normal;
			.icon-bar {
				background-color:#fff;
			}
		}
		
		.navbar-toggle:hover {
			background-color: $menu-hover;
		}
		.navbar-toggle:focus {
			background-color: $menu-active;
		}
		
		#site-nav {
			li {
				margin-right:5px;	
				margin-bottom:5px;			
			}
			
			li > a {
				background-color:$menu-normal;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				@include border-radius(10px);
				@include respondto(xs) {
					margin-bottom:5px;
				}
			}
			.active > a,
			.active > a:hover,
			.active > a:focus {
				background-color: $menu-active;
			}
			
			li > a:hover {
				background-color: $menu-hover;
			}
			ul.dropdown-menu {
				background-color:transparent;
				border:none;
				box-shadow: none;
			}
			ul.dropdown-menu > li.menu-item > a {
				margin-top:5px;
				padding-top:10px;
				padding-bottom:10px;
			}
			ul.dropdown-menu > li.menu-item > a:hover,
			ul.dropdown-menu > li.menu-item > a:focus {
					background-color: $menu-hover !important;
			}
		
		}
	}
	
}

.page-header {
	margin:0px;
		border: none !important;
padding: 0px;
}
@import 'homepageblocks';




.navbar .navbar-brand{
    padding: 0 10px;
}
.navbar-brand img{
    margin-top: 5px
}
@media (max-width:768px) {
    .navbar-brand img{
        margin-bottom: 5px
    }
    .navbar .btn-navbar{
        /*margin-right: -15px;*/
    }
    .navbar .nav > li > a {
        padding: 10px 15px;
    }
}
.nowbox {
	padding-top:0px !important;
	h4 {
		/*display: inline-block;*/
		text-overflow: ellipsis;
	}
	.show-blurb {
		height: 90px;
	}
	img {
		margin-right: 5px;
	}
	height:175px !important;
	overflow: hidden;
	@include respondto(sm,xs) {
		img {
			width: 100px;
			height: 100px;
		}
	}
}

img.live-thumbnail {
	width:100px !important;
	height: 100px !important;
	float: left;
}
.btn-radfest {
  @include button-variant($btn-radfest-color, $btn-radfest-bg, $btn-radfest-border);
}
.timeline-header h1.summary {
	@extend .RadFestFont;
}
/**** SEARCH JS ********/


#search {
    position: fixed;
    z-index:100000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: $btn-radfest-color;
	background-color: $btn-radfest-bg;
	border-color: $btn-radfest-border;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}
/**** END SEARCH JS *****/


#emapTweet {
	.interact a {
		background:url("../../images/twitter-sprite.png"); /* Obviously make sure that twitter-sprite.png is included in your template! */
		display: inline-block;
		height: 15px;
		width: 15px;
		text-indent: -9999px;
	}
	.interact a.twitter_reply_icon,
	.interact a.twitter_retweet_icon,
	.interact a.twitter_fav_icon {
		margin: 0 5px 0 0;
	}
	.interact a.twitter_retweet_icon {
		background-position: 48px 0px;
	}
	.interact a.twitter_retweet_icon:hover {
		background-position:32px 0px;
	}
	.interact a.twitter_fav_icon {
		background-position: -33px 0px;
	}
	.interact a.twitter_fav_icon:hover {
		background-position: -49px 0px;
	}
	.interact a.twitter_reply_icon {
		background-position: 1px 0px;
	}
	.interact a.twitter_reply_icon:hover {
		background-position: -15px 0px;
	}
}

.push-down-header {
	padding-bottom: 50px;
}


/*
#content {
	background: rgba(0,0,0,0.2);
	@include border-radius(10px);
}*/

/*
 == Quick CSS styling tips ==

 You can start off in a rough direction with some minimal styles.
 See below for some tips. ;)


 == Want to have the whole site wrapped? ==

 Just fill the .container class with some background color to have a the whole site "wrapped".
 This works so easy because every main part is wrapped only once into a container class by bootstrap.
 Try out by decommenting the next line and go from there.

 .container { background: #f9f9f9; border-right: 1px solid #eee; border-left: 1px solid #eee; }


 == Want to wrap just the content and sidebar in Bootstrap style? ==

 That one is a great example to show that some things are much cleaner and easier to do via just adding some HTML classes.
 In this case, we will add just one CSS class "panel", look for example at the beginning in content.php!


 == Infinite Scrolling by Jetpack ==
 You can enable this cool feature by simply decommenting the lines below and make sure you use the same classes on the right place in your html..

/* Globally hidden elements when Infinite Scroll is supported and in use.
 * Older / Newer Posts Navigation (the pagination, must always be hidden), Theme Footer only when set to scrolling.. */

/*
.infinite-scroll .page-links,
.infinite-scroll.neverending .site-footer {
	display: none;
}
*/

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */

/*
.infinity-end.neverending .site-footer {
	display: block;
}
*/

/* Hey, if you don't need my comments anymore, just delete me! :)  */

#mobile-buttons .widget-title {
	font-size:10px !important;
}